body {
  width: 92%;
  min-height: 900px;
  /* border: 2px solid rgba(112, 112, 112, 0.541); */
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: auto; 
  margin-left: auto;
  }
  
header
{
  padding-left: 1%;
  padding-right: 1%;
  font-family: verdana;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
  
section hr
{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

p {
  font-family: verdana;
  font-size: 20px;
}

a:hover {
  color: #66ff00; }




nav {
    background-color: #333;
    overflow: hidden;
  }
nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
  font-size: 20px;
  width: 15%;
  
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav .currentLink {
  background-color: rgb(0, 255, 76);
  color: black;
} 

nav .currentLink:hover{
  background-color: rgb(0, 255, 76);
  color: black;
} 

  a:hover {
    color: #66ff00; }

figure.logos{
  float:right;
  text-align: center;}

ul.inpagelinks li{list-style: none;}
ul.inpagelinks a:link{color: black;}
ul.inpagelinks a:visited{color:black}
ul.inpagelinks a:hover{color:black}